ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }
  
  :host {
    --ion-safe-area-top: 0;
    --ion-safe-area-bottom: 0;
  }

  ion-app {
    height: 100vh;
  }

  .main-content.ion-page {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 0;
  }